[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "encryptedRmd"]
	path = encryptedRmd
	url = https://github.com/dirkschumacher/encryptedrmd
	shallow = true
	registered = true
[submodule "ompr"]
	path = ompr
	url = https://github.com/dirkschumacher/ompr
	shallow = true
	registered = true
[submodule "ompr.roi"]
	path = ompr.roi
	url = https://github.com/dirkschumacher/ompr.roi
	shallow = true
	registered = true
