[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "anthro"]
	path = anthro
	url = https://github.com/dirkschumacher/anthro
	shallow = true
[submodule "duckduckr"]
	path = duckduckr
	url = https://github.com/dirkschumacher/duckduckr
	shallow = true
[submodule "encryptedRmd"]
	path = encryptedRmd
	url = https://github.com/dirkschumacher/encryptedrmd
	shallow = true
[submodule "listcomp"]
	path = listcomp
	url = https://github.com/dirkschumacher/listcomp
	shallow = true
[submodule "ompr"]
	path = ompr
	url = https://github.com/dirkschumacher/ompr
	shallow = true
[submodule "ompr.roi"]
	path = ompr.roi
	url = https://github.com/dirkschumacher/ompr.roi
	shallow = true
[submodule "rpicosat"]
	path = rpicosat
	url = https://github.com/dirkschumacher/rpicosat
	shallow = true
