[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anthroplus"]
	path = anthroplus
	url = https://github.com/cran/anthroplus
[submodule "duckduckr"]
	path = duckduckr
	url = https://github.com/dirkschumacher/duckduckr
[submodule "encryptedRmd"]
	path = encryptedRmd
	url = https://github.com/dirkschumacher/encryptedrmd
[submodule "listcomp"]
	path = listcomp
	url = https://github.com/dirkschumacher/listcomp
[submodule "ompr"]
	path = ompr
	url = https://github.com/dirkschumacher/ompr
[submodule "ompr.roi"]
	path = ompr.roi
	url = https://github.com/dirkschumacher/ompr.roi
[submodule "thankr"]
	path = thankr
	url = https://github.com/dirkschumacher/thankr
